@charset "utf-8";
body {
    margin: 0;
}
.main {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    .layout_has_sider {
        flex-direction: row;
        .layout_sider {
            transition: all .2s;
            position: relative;
            background: #001529;
            flex: 0 0 240px;
            max-width: 240px;
            min-width: 240px;
            width: 240px;
            .layout_sider_child {
                height: 100%;
                padding-top: .1px;
                margin-top: -.1px;
                .logo {
                    width: 100%;
                    height: 160px;
                    background: #FFFFFF;
                    float: left;
                    overflow: hidden;
                    img {
                        width: 120px;
                        height: 120px;
                        border-radius: 120px;
                        margin: 20px auto;
                        display: block;
                    }
                }
                .menu * {
                    box-shadow: none;
                }
                .menu {
                    font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
                    font-size: 14px;
                    line-height: 1.5;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    margin-top: 160px;
                    padding: 0;
                    outline: none;
                    margin-bottom: 0;
                    padding-left: 0;
                    list-style: none;
                    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.15);
                    box-shadow: 0 2px 8px rgba(0,0,0,.15);
                    color: rgba(0,0,0,.65);
                    background: #fff;
                    line-height: 0;
                    -webkit-transition: background .3s,width .2s;
                    -o-transition: background .3s,width .2s;
                    transition: background .3s,width .2s;
                    zoom: 1;
                    height: 100%;
                    border-right: 0px;
                    .menu_submenu, .menu_submenu_inline {
                        transition: border-color .3s cubic-bezier(.645,.045,.355,1),background .3s cubic-bezier(.645,.045,.355,1),padding .15s cubic-bezier(.645,.045,.355,1);
                    }
                    .menu_submenu {
                        .menu_submenu_title {
                            padding-left: 24px;
                            line-height: 40px;
                            height: 40px;
                            padding-right: 34px;
                            width: calc(100% + 1px);
                            position: relative;
                            .anticon_book {
                                min-width: 14px;
                                margin-right: 10px;
                                transition: font-size .15s cubic-bezier(.215,.61,.355,1),margin .3s cubic-bezier(.645,.045,.355,1);
                            }
                            // .anticon_book::before {
                            //     content: "\e637";
                            // }
                            .anticon {
                                display: inline-block;
                                font-style: normal;
                                vertical-align: baseline;
                                text-align: center;
                                text-transform: none;
                                line-height: 1;
                                text-rendering: optimizeLegibility;
                                -webkit-font-smoothing: antialiased;
                            }
                            .anticon::before {
                                display: block;
                                font-family: anticon!important;
                            }
                            .menu_submenu_arrow {
                                position: absolute;
                                top: 50%;
                                right: 16px;
                                width: 10px;
                                // transform: translateY(-2px);
                                // transition: border-color .3s cubic-bezier(.645,.045,.355,1),background .3s cubic-bezier(.645,.045,.355,1),padding .15s cubic-bezier(.645,.045,.355,1);
                            }
                            .menu_submenu_arrow::before, .menu_submenu_arrow::after {
                                content: "";
                                position: absolute;
                                vertical-align: baseline;
                                background: #fff;
                                background-image: linear-gradient(90deg,rgba(0,0,0,.65),rgba(0,0,0,.65));
                                width: 6px;
                                height: 1.5px;
                                border-radius: 2px;
                            }
                            .menu_submenu_arrow::before {
                                transform: rotate(45deg) translateX(2px);
                            }
                            .menu_submenu_arrow::after {
                                transform: rotate(-45deg) translateX(-2px);
                            }
                        }
                        .menu_sub {
                            padding: 0;
                            border: 0;
                            border-radius: 0;
                            box-shadow: none;
                            background-color: #FFFFFF;
                            cursor: auto;
                            transition: background .3s cubic-bezier(.645,.045,.355,1),padding .3s cubic-bezier(.645,.045,.355,1);
                            .menu_item {
                                padding-left: 48px;
                                line-height: 40px;
                                height: 40px;
                                list-style-type: disc;
                                list-style-position: inside;
                                width: calc(100% + 1px);
                            }
                            .menu_item:not(:last-child) {
                                margin-bottom: 8px;
                            }
                            .menu_item_selected {
                                background-color: #e6f7ff;
                            }
                        }
                        .menu_sub::before, .menu_sub::after {
                            content: " ";
                            display: table;
                        }
                        .menu_sub::before {
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                        }
                    }
                }
                .menu::before, .menu::after {
                    content: " ";
                    display: table;
                }
                .menu::before {
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }
                .menu::after {
                    clear: both;
                    visibility: hidden;
                    font-size: 0;
                    height: 0;
                }
                .menu_inline {
                    width: 100%;
                    box-shadow: none;
                }
            }
        }
    }
}
.layout {
    display: flex;
    // flex-direction: column;
    box-sizing: border-box;
    background: #f0f2f5;
}
.layout * {
    box-sizing: border-box;
}
.content {
    background: #fff;
    padding: 20px;
    margin: 14px;
    .table_wrapper {
        zoom: 1;
        .table_wrapper_inner {
            position: relative;
            .container {
                position: relative;
                .container_table {
                    font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
                    font-size: 14px;
                    line-height: 1.5;
                    color: rgba(0,0,0,.65);
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    overflow: hidden;
                    position: relative;
                    border-radius: 4px 4px 0 0;
                    .table_body {
                        transition: opacity .3s;
                        table {
                            width: 100%;
                            border-collapse: separate;
                            border-spacing: 0;
                            text-align: left;
                            border-radius: 4px 4px 0 0;
                            overflow: hidden;
                            .table_thead {
                                tr {
                                    transition: all .3s;
                                    th {
                                        padding: 16px;
                                        word-break: break-all;
                                        background: #fafafa;
                                        transition: background .3s ease;
                                        text-align: left;
                                        color: rgba(0,0,0,.85);
                                        font-weight: 500;
                                        border-bottom: 1px solid #e8e8e8;
                                    }
                                }
                            }
                            .table_tbody {
                                .table_row {
                                    transition: all .3s;
                                    td {
                                        transition: all .3s;
                                        padding: 16px;
                                        word-break: break-all;
                                        border-bottom: 1px solid #e8e8e8;
                                        .table_row_indent {
                                            padding-left: 0px;
                                        }
                                    }
                                }
                                .table_row:hover {
                                    background-color: #e6f7ff;
                                }
                            }
                        }
                    }
                }
            }
            .container::after, .container::before {
                content: " ";
                display: table;
            }
            .container::after {
                clear: both;
                visibility: hidden;
                font-size: 0;
                height: 0;
            }
        }
    }
    .table_wrapper::after, .table_wrapper::before {
        content: " ";
        display: table;
    }
    .table_wrapper::after {
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
    }
}
.layout_content {
    flex: auto;
}
.iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
}
a {
    color: #1890ff;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
}
.divider {
    font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #e8e8e8;
}
.divider_vertical {
    margin: 0 8px;
    display: inline-block;
    height: .9em;
    width: 1px;
    vertical-align: middle;
    position: relative;
    top: -.06em;
}
