@charset "utf-8";
body {
    margin: 0;
}
.main {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    .layout_has_sider {
        flex-direction: row;
        .layout_sider {
            transition: all .2s;
            position: relative;
            background: #FFFFFF;
            flex: 0 0 240px;
            max-width: 240px;
            min-width: 240px;
            width: 240px;
            .layout_sider_child {
                height: 100%;
                padding-top: .1px;
                margin-top: -.1px;
                display: flex;
                flex-direction: column;
                .logo {
                    width: 100%;
                    height: 160px;
                    background: #FFFFFF;
                    float: left;
                    img {
                        width: 120px;
                        height: 120px;
                        border-radius: 120px;
                        margin: 20px auto;
                        display: block;
                    }
                }
            }
        }
    }
}
.layout {
    display: flex;
    // flex-direction: column;
    box-sizing: border-box;
    background: #f0f2f5;
}
.layout * {
    box-sizing: border-box;
}
.content {
    background: #fff;
    padding: 20px;
    margin: 14px;
    .table_wrapper {
        zoom: 1;
        .table_wrapper_inner {
            position: relative;
            .container {
                position: relative;
                .container_table {
                    font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
                    font-size: 14px;
                    line-height: 1.5;
                    color: rgba(0,0,0,.65);
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    overflow: hidden;
                    position: relative;
                    border-radius: 4px 4px 0 0;
                    .table_body {
                        transition: opacity .3s;
                        table {
                            width: 100%;
                            border-collapse: separate;
                            border-spacing: 0;
                            text-align: left;
                            border-radius: 4px 4px 0 0;
                            overflow: hidden;
                            .table_thead {
                                tr {
                                    transition: all .3s;
                                    th {
                                        padding: 16px;
                                        word-break: break-all;
                                        background: #fafafa;
                                        transition: background .3s ease;
                                        text-align: left;
                                        color: rgba(0,0,0,.85);
                                        font-weight: 500;
                                        border-bottom: 1px solid #e8e8e8;
                                    }
                                }
                            }
                            .table_tbody {
                                .table_row {
                                    transition: all .3s;
                                    td {
                                        transition: all .3s;
                                        padding: 16px;
                                        word-break: break-all;
                                        border-bottom: 1px solid #e8e8e8;
                                        .table_row_indent {
                                            padding-left: 0px;
                                        }
                                    }
                                }
                                .table_row:hover {
                                    background-color: #e6f7ff;
                                }
                            }
                        }
                    }
                }
            }
            .container::after, .container::before {
                content: " ";
                display: table;
            }
            .container::after {
                clear: both;
                visibility: hidden;
                font-size: 0;
                height: 0;
            }
        }
    }
    .table_wrapper::after, .table_wrapper::before {
        content: " ";
        display: table;
    }
    .table_wrapper::after {
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
    }
    .article_edit {
        width: 1350px;
        .el-textarea {
            margin: 20px 0;
        }
    }
}
.layout_content {
    flex: auto;
}
.iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
}
a {
    color: #1890ff;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
}
.divider {
    font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #e8e8e8;
}
.divider_vertical {
    margin: 0 8px;
    display: inline-block;
    height: .9em;
    width: 1px;
    vertical-align: middle;
    position: relative;
    top: -.06em;
}

/* 登录 */
.login_box {
    position: absolute;
    width: 100%;
    height: 100%;
    .login_content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        z-index: 1;
        margin-top: 200px;
    }
}
